
.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.moviesList {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}
