.container {
  display: flex;
  flex-direction: column;
  gap: 27px;

  max-width: 1010px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;

}

.moviesList {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
gap: 10px;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}



//==================================================================

